# API Keys (Obtén tus propias llaves)
OPENROUTER_API_KEY=tu_api_key_de_openrouter
ELEVENLABS_API_KEY=tu_api_key_de_elevenlabs
ELEVENLABS_VOICE_ID=IKne3meq5aSn9XLyUdCD

# Configuración del Servidor Node (Orquestador)
PORT=3001
PYTHON_SERVICE_URL=http://localhost:8000

# Configuración de Base de Datos PostgreSQL
DB_USER=postgres
DB_PASS=admin
DB_NAME=youtube_music_dj
DB_HOST=localhost
DB_PORT=5433
